DATABASE_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="replace-with-openssl-rand-base64-32"
ADMIN_EMAIL="admin@gasagency.local"
ADMIN_PASSWORD="ChangeMe123!"
